
<body> 
    <nav>
        <ul>
          <li><a [routerLink]="['home']">Home</a></li>
          <li><a [routerLink]="['about']">About</a></li>
          <li><a [routerLink]="['services']">Services</a></li>
          <li><a [routerLink]="['contact']">Contact</a></li>
          <li><a [routerLink]="['login']">Login</a></li>

        </ul>
      </nav>
    <marquee>SAMPLE ENGINEERING COLLEGE</marquee>
    <div class="container row">
      <div class="card col">
        
      </div>
      <div class="card col">
        
      </div>

    </div>
    
           <!-- <div>
            <p> <b><h1 style="color:rgb(0, 0, 0);"> NAMBA URUTTU </h1></b></p>
            <p style="font-family:'times new roman'">Under the aegis of our honorable Chairman, esteemed <b>Col. Dr. Jeppiaar M.A., B.L., Ph.D</b>  . Jeppiaar Engineering <br> College was inaugurated on 15th August 2001 as one of the prestigious institutions of Jeppiaar Educational Trust. <br> Col. Dr. Jeppiaar is an industrialist, educationalist, and a philanthropist who works for the technical education for <br> more than 3 decades. It is situated in Rajiv Gandhi salai, Old Mamallapuram road, next to Sathyabama <br> University,Chennai. Jeppiaar Engineering College was established in 2001,<b>with the approval of AICTE</b> & it is <br> affiliated to Anna University. The college is <b> accredited by National Board of Accreditation (NBA)</b>.</p>
                
               <p style="font-family:'times new roman'"> The dynamic director of our college, <b>Dr. Regeena. J. Murli,B.Tech., M.B.A.,Ph.D</b> daughter of Col.Dr. Jeppiaar, with <br> her hard work and determination, has made the institution reach great heights. Jeppiaar Engineering College is <br> affiliated to Anna University and in the short span of time, it has grown into an institution that provides excellent <br> technical education while keeping the overall growth and development of the students in mind. Both academic <br> and non-academic activities are given equal importance; at Jeppiaar Engineering College, we take our students’ <br> success very seriously. Experienced and qualified staff, quality driven labs, Excellent infra structure, effective <br> classroom teaching and superior accountability are the reasons for the students’ achievements both in academic <br> and co-curricular activities.</p>
                
               <p style="font-family:'times new roman'">The college is dedicated to prepare future graduates with the knowledge and skills essential to work and outclass <br> in the aggressive global environment. Having dedicated to innovative learning, the college enables the students to <br> achieve. Pursuing the goal of constant learning, the Institution prepares the students to score commendably in the <br> academics. The college develops the students’ personality by personality development programmes and <br> placement training. Discipline and counseling are meticulously done.</p>     
            </div> -->
</body>
