<body>

    <marquee>GOVINDHAMAL ENGINEERING COLLEGE</marquee>
    <div class="container">
        <div>
            <label id="abt" class="mt-4">About Us</label>
            
        </div>
        <div class="container row">
            <div class="col1">
                
            </div><label id="princ">Princpal</label>
            <div class="col2" >
               
            </div> <label id="char">Chairman</label>
        </div>
        
        <div class="mt-5">
            <label class="text-with-border">
                Stalin is the third son of 2nd Chief Minister of Tamil Nadu and DMK Chief M. Karunanidhi, and was born to his wife, Dayalu Ammal. Stalin was born in Madras, now Chennai, on 1 March 1953. Karunanidhi was addressing a condolence meeting for Soviet leader Joseph Stalin, who died only four days after his child was born, and thus decided to name his son after Stalin.[4][5]

Stalin studied at the Madras Christian College Higher Secondary School. He completed a pre-university course at Vivekananda College, and obtained a history degree from Presidency College, Chennai of University of Madras in 1973. Stalin was conferred an Honorary Doctorate by Anna University on August 1, 2009.

Stalin married Durga (alias Shantha) on August 20, 1975, and has two children.

His son is Udhayanidhi Stalin, an actor and politician. Udhayanidhi is married to Kiruthiga Udhayanidhi, an Indian Tamil film director.

His daughter is Senthamarai Sabareesan, an entrepreneur and educationist. She is the director of Sunshine Schools, Chennai. Senthamarai is married to Sabareesan Vedamurthy, an entrepreneur and political strategist.

Like his father, Stalin has publicly disclosed that he is an atheist. But he also said that he is not against any religious beliefs.
            </label>
        </div>

    </div>

</body>